In [2]:
import pandas as pd

In [8]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold

In [9]:
data = pd.read_csv('C:\\Users\\ITEL\\Documents\\XL\\data_random.csv', sep=';')

In [10]:
# Menghapus kolom 'Nama'
data_reduced = data.drop(columns=['Nama'])
print(data_reduced.head())

   Umur             Kota
0  48.0      Port Kelsey
1  48.0  Veronicachester
2  28.0    Amandaborough
3  32.0     Port Jessica
4  20.0              NaN

In [11]:
# Menghapus baris yang memiliki nilai kosong
data_reduced = data.dropna()
print(data_reduced.head())

                Nama  Umur           Kota
0    Christopher Lam  48.0    Port Kelsey
2  Joseph Valdez Jr.  28.0  Amandaborough
3       Pamela Davis  32.0   Port Jessica
5     Raymond Miller  29.0    Justinville
6       Steven White  39.0       New Toni

In [14]:
# Menghapus kolom dengan variance rendah
data_numeric = data.select_dtypes(include=['float64', 'int64'])

selector = VarianceThreshold(threshold=0.1)  # Menghapus kolom dengan variance <= 0.1
data_reduced = selector.fit_transform(data_numeric)

data_reduced = pd.DataFrame(data_reduced, columns=data_numeric.columns[selector.get_support()])

print(data_reduced.head())

   Umur
0  48.0
1  48.0
2  28.0
3  32.0
4  20.0