In [1]:
import pandas as pd

In [8]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [9]:
data = pd.read_csv('C:\\Users\\ITEL\\Documents\\XL\\data_random.csv', sep=';')

In [10]:
# One-Hot Encoding untuk kolom 'Kota'

data_encoded = pd.get_dummies(data, columns=['Kota'], drop_first=True)
print(data_encoded.head())  # Menampilkan 5 baris pertama data yang sudah di-encode

                Nama  Umur  Kota_Adrianstad  Kota_Alfredtown  \
0    Christopher Lam  48.0            False            False
1                NaN  48.0            False            False
2  Joseph Valdez Jr.  28.0            False            False
3       Pamela Davis  32.0            False            False
4  Kenneth Rodriguez  20.0            False            False

   Kota_Amandaborough  Kota_Amyborough  Kota_Anthonychester  Kota_Brooksbury  \
0               False            False                False            False
1               False            False                False            False
2                True            False                False            False
3               False            False                False            False
4               False            False                False            False

   Kota_Buckleyfort  Kota_Callahanborough  ...  Kota_West Kimberlyberg  \
0             False                 False  ...                   False
1             False                 False  ...                   False
2             False                 False  ...                   False
3             False                 False  ...                   False
4             False                 False  ...                   False

   Kota_West Kimberlyview  Kota_West Matthew  Kota_West Noahfort  \
0                   False              False               False
1                   False              False               False
2                   False              False               False
3                   False              False               False
4                   False              False               False

   Kota_West Peter  Kota_West Rebecca  Kota_West Tommymouth  \
0            False              False                 False
1            False              False                 False
2            False              False                 False
3            False              False                 False
4            False              False                 False

   Kota_West William  Kota_Whitneyview  Kota_Williamsside
0              False             False              False
1              False             False              False
2              False             False              False
3              False             False              False
4              False             False              False

[5 rows x 143 columns]

In [11]:
# Label Encoding untuk Kolom Kategorikal

label_encoder = LabelEncoder()
data['Kota_encoded'] = label_encoder.fit_transform(data['Kota'])
print(data[['Kota', 'Kota_encoded']].head())

              Kota  Kota_encoded
0      Port Kelsey            96
1  Veronicachester           129
2    Amandaborough             3
3     Port Jessica            92
4              NaN           142

In [13]:
# One-Hot Encoding untuk kolom 'Kota'

data_encoded = pd.get_dummies(data, columns=['Kota'], drop_first=True)
print(data_encoded.head())  # Menampilkan 5 baris pertama data yang sudah di-encode

                Nama  Umur  Kota_encoded  Kota_Adrianstad  Kota_Alfredtown  \
0    Christopher Lam  48.0            96            False            False
1                NaN  48.0           129            False            False
2  Joseph Valdez Jr.  28.0             3            False            False
3       Pamela Davis  32.0            92            False            False
4  Kenneth Rodriguez  20.0           142            False            False

   Kota_Amandaborough  Kota_Amyborough  Kota_Anthonychester  Kota_Brooksbury  \
0               False            False                False            False
1               False            False                False            False
2                True            False                False            False
3               False            False                False            False
4               False            False                False            False

   Kota_Buckleyfort  ...  Kota_West Kimberlyberg  Kota_West Kimberlyview  \
0             False  ...                   False                   False
1             False  ...                   False                   False
2             False  ...                   False                   False
3             False  ...                   False                   False
4             False  ...                   False                   False

   Kota_West Matthew  Kota_West Noahfort  Kota_West Peter  Kota_West Rebecca  \
0              False               False            False              False
1              False               False            False              False
2              False               False            False              False
3              False               False            False              False
4              False               False            False              False

   Kota_West Tommymouth  Kota_West William  Kota_Whitneyview  \
0                 False              False             False
1                 False              False             False
2                 False              False             False
3                 False              False             False
4                 False              False             False

   Kota_Williamsside
0              False
1              False
2              False
3              False
4              False

[5 rows x 144 columns]